@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');
* {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  /* width: 98vw; */
}

/* prevent horizontal overflow */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

/* CONTAINER RULES */
/* mobile */
@media (max-width: 450px) {
  div.container {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 450px) {
  div.container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 990px) {
  div.container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important; /*Else, it'll be black.*/
}

/* navbar expansion (md breakpoint) */
@media (min-width: 768px) {
  .navbar.navbar-light.navbar-expand-md {
    padding: 1rem 10rem .6rem 9rem;
    font-weight: 700;
  }

  .carousel-inner {
    height: 80vh; /*FIXME: JANKY (if images are very wide, for instance*/
  }
}

iframe {
  border: 0
}

/* (*˘︶˘*).｡.:*♡ */
span.rainbow-text {
  background: linear-gradient(270deg, #EB51E5 9.83%, #6752E3 31.76%, #52BB41 52.35%, #FAB811 74.73%, #F17935 91.29%, #F95858 102.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
}