@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');
* {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  /* width: 98vw; */
}

/* prevent horizontal overflow */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

/* CONTAINER RULES */
/* mobile */
@media (max-width: 450px) {
  div.container {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 450px) {
  div.container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 990px) {
  div.container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}







/*copy and paste; possibly not a problem*/






.artigos-tecs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
}

.artigos-tecs .artigos-tecs-item {
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  max-width: 40% !important;
}

.container-fluid > .artigos-tecs .artigos-tecs-item a {
  text-align: center;
  color: #ffffff;
}

.artigos-tecs .artigos-tecs-item a:hover {
  transition: all 1s ease;
  color: #999999;
  text-decoration: none;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .media-icons-1 {
    padding-left: 2rem;
    padding-right: 1.5rem;
  }

  /* Ensures footer icons and such are aligned*/
  .artigos-tecs-item {
    margin-right: 0 !important;
  }
}

/* navbar expansion (md breakpoint) */
@media (min-width: 768px) {
  .navbar.navbar-light.navbar-expand-md {
    padding: 1rem 10rem .6rem 9rem;
    font-weight: 700;
  }

  #navcol-1 {
    margin-right: 11rem;
  }

  .carousel-inner {
    height: 80vh;
  }

  .media-icons-1 {
    padding-left: 5rem;
    margin-right: -5rem;
  }
}

@media (min-width: 992px) {
  #navcol-1 {
    margin-right: 9rem;
  }

  .media-icons-1 {
    padding-left: 0rem;
    margin-right: 0rem;
  }
}

@media (min-width: 1200px) {
  #navcol-1 {
    margin-right: 11rem;
  }

  .media-icons-1 {
    padding-left: 5rem;
    margin-right: -5rem;
  }
}
