/* variables */
$primary-color: #64c4d2;
$secondary-color: #1094ab;
$alternative-color: #fcb421;


.tecstext {
  font-weight: 300;
  margin-top: 30px;

  b, strong {
    font-weight: bold; /*FIXME: Adjust this. (It's an override to the font-weight rule above.)*/
  }

  p {
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 30px;
    font-size: 1.25rem;
  }

  h1 {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 3.3rem;
    white-space: pre-line;
  }

  h2 {
    /*margin-bottom: 2.5rem;*/
    text-align: left;
    font-weight: 600;
  }


  ul {
    margin-left: 3rem;
    font-size: 1.25rem;
    text-align: left;
  }

  blockquote {
    padding: 15px;
    background: #dad3d334;
    border: 1px solid #999999;
    border-left-width: 10px;
  }

  /* mobile (default; overridden by next rule)*/
  /*@media only screen and (max-width: 700px){*/
    div.container{
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }
  /*}*/

  @media only screen and (min-width: 700px) {
    div.container{
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }


  /*MISC (CURRENTLY UNUSED) STUFF*/


  /*criar um div vazio com isso....talvez?*/
  .h2-spacing { /*FIXME: Is this actually used somewhere?*/
    margin-bottom: 2.5rem;
  }

  .tecstext-h2-top h2 {
    margin-top: 2.2rem;
  }

  h6.after-title {
    font-style: italic;
    white-space: pre-line;
  }

  .tecs-title-1 {
    color: #64c4d2;
    font-weight: 600;
  }

  .tecs-title-2 {
    color: #999999;
    font-weight: 600;
  }

  img.image-thing1 {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* imagem do portal */
  img.image-thing2 {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img.image-thing-double {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 400px;
    display: block-inline; /* likely redundant*/
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
  }

  @media (max-width: 992px) {
    .image-thing-double {
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }
  }
}